<section>
    <form id="productForm" class="form" #productForm="ngForm" (ngSubmit)="addOrEditProduct(productForm)">
        <h2>{{isEditMode? 'Modifier le Produit': 'Ajouter un Produit'}}</h2>

        <div>
            <label for="productName">Nom du produit : </label>
            <input type="text" name="productName" id="productName" [(ngModel)]="product.name" placeholder="Le nom de votre prouduit" #name="ngModel" minlength="3" required>
            @if (name.invalid && (name.touched || name.dirty)){
                @if(name.errors?.['required']){
                    <div class = "text-danger">
                        Ce champ est obligatoire.
                    </div>
                }
                @if (name.errors?.['minlength']) {
                    <div class = "text-danger">
                        Nécessite 3 caractères.
                    </div>
                }
            }
        </div>

        <div>
            <label for="productPrice">Prix : </label>
            <input type="number" name="productPrice" id="productPrice" [(ngModel)]="product.price"
                placeholder="Le prix de votre produit" required>
        </div>

        <div>
            <label for="description" class="form-label">Description :</label>
            <textarea id="description" name="description" [(ngModel)]="product.description"
                placeholder="Votre description" required></textarea>
        </div>

        <div>
            <label for="img">Image URL : </label>
            <input type="text" name="img" id="img" [(ngModel)]="product.image" placeholder="image URL" required>
        </div>

        <button type="submit">{{isEditMode? 'Modifier': 'Ajouter'}}</button>
    </form>
</section>