<header class="site-header">
    <!-- Titre Principale -->
    <h1>{{title}}</h1>

    <!-- Menu de navigation -->
    <nav class="menu" aria-label="Menu de navigation">
        <ul>
        <li><a routerLink="">Acceuil</a></li>
        <li><a routerLink="/about">À propos</a></li>
        <li><a routerLink="/products">Produits</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dashboard
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/addProduct">Ajout-Produit</a></li>
            <li><a class="dropdown-item" routerLink="/admin">Admin</a></li>
            </ul>
        </li>
        <li><a routerLink="/contact">Contact</a></li>
        @if (!getCurrentUser()) {
        <li><a routerLink="/inscription">Inscirption</a></li>
        <li><a routerLink="/connexion">Connexion</a></li>
        }
        @if (getCurrentUser()) {
        <li class="user-menu"><span> Bonjour, {{ getCurrentUser()?.prenom }} </span>
        <a routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <button type="button" (click)="deconnexion()">Déconnexion</button></li>
        }        
        </ul>
    </nav>
</header>